*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::after,::before{
    box-sizing: border-box
}
@layer utility{
    
    /* typography */
    :root{
        --font-size-htags: calc(24 / 16 * 1rem);
        --fs-ptags: calc(15 / 16 * 1rem);
        --fs-default: calc(12 / 16 * 1em);
        --ff-ptags: 'Nunito Sans', Arial;
        --fc-default: hsl(0, 0%, 0%);
    }
    /* layout */
    :root{
        --display-flex: flex;
        --gap-space: calc(5 / 16 * 1rem);
        --gap-space-pro: calc(20 / 16 * 1rem);
        --gap-space-pro-max: calc(150 / 16 * 1rem);
        --direction: column;
    }

}

.header-main{
    display: var(--display-flex);
    align-items: center;
    padding: calc(20 / 16 * 1rem) calc(40 / 16 * 1rem);
   header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 40px;
  
  /* The Magic Elements */
  background: rgba(255, 255, 255, 0.15); /* Semi-transparent white */
  backdrop-filter: blur(12px);           /* Blurs the content behind the header */
  -webkit-backdrop-filter: blur(12px);   /* Safari support */
  
  /* Border & Depth */
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

}

.header-img-container{
    flex: 1;
}
.header-img{
    height: 100%;      
    max-height: 40px;  
    width: auto;      
    object-fit: contain;
}
.header-list-container{
     flex: 2;
}
.header-list{
    display: var(--display-flex);
    justify-content: center;
    gap: var(--gap-space-pro);
    list-style: none;
}
.list-content-header a{
   text-decoration: none;
   font-family: var(--ff-ptags);
   color: var(--fc-default);
   transition: all 0.4s ease;
}
.list-content-header a:hover{
    text-decoration: underline;

}
.header-svg-container{
    display: flex;
    flex: 1;
    gap: var(--gap-space-pro);
    align-items: center;
    justify-content: flex-end;
}
.search-icon-svg,
.cart-icon-svg,
.hamburger-menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (width > calc(915 / 16 * 1rem)) {
   .right-section-header{
    display: none;
   }
   .middle-section-header{
    display: none;
   }
   .left-section-header{
    display: none;
   }
}
@media (width < calc(915 / 16 * 1rem)) {
   .header-list-container{
    display: none;
}
    .header-img-container{
        display: none;
    }
    .header-svg-container{
        display: none;
    }
   .header-main{
    display: flex;
    justify-content: space-between;
   }
    .header-img-mobile{
        height: 100%;      
        max-height: 40px;  
        width: auto;      
        object-fit: contain;
    }
}