*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    margin-top: calc(170 /16 * 1rem);
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  hsl(39, 77%, 83%);;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: calc(40 / 16 * 1rem);
    padding: 0 calc(25 / 16 * 1rem);    
}

.hero-htag{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(2rem, calc(17 / 16 * 1rem), 2.5rem);
    font-weight: 430;


}

.hero-ptag{
    line-height: calc(25 / 16 * 1rem);
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(0.75rem, calc(14 / 16 * 1rem), 3rem);

}

.hero-btn{
    padding: calc(12 /16 * 1rem) calc(60 / 16 * 1rem);
    background: none;
    border-color: hsl(39, 77%, 83%);
    border-style: solid;
    border-width: 1px;
    color: hsl(39, 77%, 83%);
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(0.70rem, calc(13 / 16 * 1rem), 2rem);
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
}
.hero-btn::before{
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(39, 77%, 83%);
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.4s ease;
    z-index: -1;
}
.hero-btn:hover::before{
    transform: scaleX(1);
}
.hero-btn:hover{
    color: black;
}


.hero-btn-collection{
    padding: calc(12 /16 * 1rem) calc(60 / 16 * 1rem);
    background-color: #f5deb2;
    color: black;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: clamp(0.60rem, calc(13 / 16 * 1rem), 2rem);
    transition: all 0.4s ease;
    text-decoration: none;
    cursor: pointer;
}
.hero-btn-collection:hover{
    background-color: hsl(38, 28%, 60%);
}
.hero-link-container{
    display: flex;
    gap: calc(25 /16 * 1rem);
    justify-content: center;
}
@media (width <= calc(400 / 16 * 1rem)){
    .hero-link-container{
        display: grid;
        grid-template-columns: repeat(1, calc(200 / 16 * 1rem));
    }
   .hero-btn-collection{
    font-size: 0.70rem;
   }
}

   