*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.watch-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:3rem;

    max-width:1200px;
    margin:auto;
    padding:4rem 2rem;
}

.watch-section img{
    width:100%;
    max-width:500px;
    justify-self:center;
}
.watch-collection-link{
   display: flex;
   flex-direction: column;
   gap: calc(25/16*1rem);
}
.watch-collection-link h2{
    text-align: center;
}
.watch-collection-link a{
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border-color: black;
    color:  black;
    border: black 1px solid;
    font-size: calc(13/16*1rem);
    transition: all 0.4 ease-in;
}
.watch-collection-link a:hover{
    background-color: black;
    color: white
}
.link-container-watch{
    display: flex;
    justify-content: center;
    align-items: center;
}


.watch-collection-link p{
    text-align: center;
}
.fade-in{
    opacity: 0;
    filter: blur(10);
    transform: translateY(100%);
    transition: all 0.4s ease;
}
.watch-scale:hover{
    transform: scale(1.3);
    transform-origin: center;
    transition: transform 1.5s cubic-bezier(.22, 1, .36, 1);
    cursor: pointer;
}
.fade-in.show{
    opacity: 1;
    transform: translateY(0);
  
}
.link-watch-collection{
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
}
@media(max-width:768px){

.watch-section{
    grid-template-columns:1fr;
    text-align:center;
}

.watch-text{
    margin:auto;
}

}